GITHUB_TOKEN=AQUI PONER TU TOKEN
GITHUB_MODELS_BASE_URL=https://models.github.ai/inference

MODEL_TRIAGE=openai/gpt-4o-mini
MODEL_VALIDATOR=openai/gpt-4o

DATA_DIR=data
DOCUMENTATION_DIR=documentation
CHROMA_DIR=.chroma/globalflow
RESULTS_DIR=data/resultados

TARIFF_EXCEL_FILENAME=base_arancelaria_sintetica_globalflow.xlsx
HISTORICAL_EXCEL_FILENAME=facturas_historicas_sinteticas_globalflow.xlsx
NORMATIVE_DOCX_FILENAME=manual_normativo_sintetico_globalflow.docx

CONFIDENCE_AUTO_APPROVE=0.85
CONFIDENCE_HUMAN_REVIEW=0.70